body {
  background-color: rgb(39, 33, 33);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem 3.5rem;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 0 20px 5px black;
}

.playbox,
.actions {
  width: 80%;
  margin: 1.5rem 0;
  background-color: rgb(39, 33, 33);
  border-radius: 0.2rem;
  box-shadow: 0 0 20px 1px rgb(39, 33, 33);
  padding: 1rem;
}

.actions {
  width: 100%;
  background-color: transparent;
  padding: 0;
}

.game {
  background-color: white;
  margin: 0 auto;
}

.game td {
  height: 3rem;
  width: 3rem;
  border: 1px dashed rgb(39, 33, 33);
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

.actions button {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: medium;
  letter-spacing: 2;
  cursor: pointer;
  background-color: rgb(39, 33, 33);
  border-radius: 0.2rem;
  border: none;
  color: white;
}
